/* page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.css-18e3th9 {
  padding: 50px;
}

/* title */
.css-zt5igj {
  padding: 0;
}

#supermarket-sales-dashboard {
  font-size: 30px;
  padding: 0;
}
